extends ../layout/main

block head
	block variables
		- var title = 'Cards';
		- var description = 'Description for Webpack + Pug';
		- var pageClass = 'index-page';

block page
	.container
		p main extends ../layout/maindfdf
