.font {
    width: 50%;
    padding-top: 67px;
    padding-left: 165px;
    padding-right: 130px;
}
.font__line {
    display: flex;
    margin-bottom: 50px;
}
.font__type {
    width: 37px;
    height: 30px;
    font-family: $fontdefault;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: rgba(31, 32, 65, 0.25);
    text-align: right;
    margin-right: 30px;
    
}
.font__name {
    font-family: $fontquicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
    
}
.type_h2 {
    height: 24px;
    font-size: 19px;
    line-height: 23px;
}
.name_h2 {
    font-size: 19px;
    line-height: 24px;
}
.type_h3 {
    height: 15px;
    font-size: 12px;
    line-height: 15px; 
}
.name_h3 {
    font-size: 12px;
    line-height: 15px;
    font-family: $fontdefault;
    text-transform: uppercase;
}
.type_body {
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
}
.name_body {
    font-size: 14px;
    line-height: 24px;
    font-family: $fontdefault;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.75);
    font-weight: normal;
}