include ../utils/mixins
block variables


doctype html
html(lang="ru")
		head
				block head
						title #{title}
				meta(name="description", content=description)
				meta(charset="utf-8")
				meta(name="keywords" content="")

				meta(http-equiv="X-UA-Compatible" content="IE=edge")
				meta(name="viewport" content="width=device-width, initial-scale=1.0")
				meta(name="format-detection" content="telephone=no")
				link(rel="stylesheet" href="/assets/scss/main.scss")

		body
				block header
						include ../includes/modules/header

				block main
						include ../includes/modules/main

				block footer
						include ../includes/modules/footer
				block js
						script(src="js/main.js")